<div class="modal-header">
    <h3 class="modal-title" id="TituloModalLongoExemplo">Segunda - 22/07/2019</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h5>Escala Prevista</h5>
    <p>08:00 - 12:00 - 13:00 - 17:00</p>


    <h5 class=" pt-3">Adicionar Horario</h5>
    <div class="form-row">
        <div class="form-group col-md-3">
            <input type="time" class="form-control" id="DescricaoEscala" name="escala.Descricao" placeholder="Ex: Escala Geral" value="">
        </div>
        <div class="form-group col-md-2">
            <div class="form-group">
                <button type="button" class="btn btn-secondary botao_cor btn-sm">Adicionar</button>
            </div>
        </div>


    </div>




    <table class="table table-bordered table-hover table-responsive-xl table-sm tabela">
        <thead class="thead-dark">
            <tr>
                <th colspan="2" scope="col">Desconsiderar Marcação</th>
                <th scope="col">Registro</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    </div>
                </td>
                <td>
                    <input type="text" disabled class="form-control" id="DescricaoEscala" name="escala.Descricao" placeholder="Observação" value="">
                </td>
                <td>08:00</td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked value="" id="defaultCheck1">
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" id="DescricaoEscala" name="escala.Descricao" placeholder="Empresa" value="MARCAÇÃO DUPLICADA">
                </td>
                <td>08:05</td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    </div>
                </td>
                <td>
                    <input type="text" disabled class="form-control" id="DescricaoEscala" name="escala.Descricao" placeholder="Observação" value="">
                </td>
                <td>11:00</td>

            </tr>
            <tr>
                <td>
                    <a class="Botao_Excluir"><img type="button" data-target="#ModalLongoExemplo" data-toggle="modal" src="~/Content/img/x.svg" width="28" height="30" /></a>
                </td>
                <td>
                    <input type="text" disabled class="form-control" id="DescricaoEscala" name="escala.Descricao" placeholder="Observação" value="">
                </td>
                <td>13:00</td>

            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    </div>
                </td>
                <td>
                    <input type="text" disabled class="form-control" id="DescricaoEscala" name="escala.Descricao" placeholder="Observação" value="">
                </td>
                <td>17:00</td>

            </tr>

        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
    <button type="button" class="btn btn-secondary botao_cor_verde">Salvar mudanças</button>
</div>
