@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index Home</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
