@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";

}


@section css{
   
}

<div class="Cart container">
    <ul class="homeGrafico row">
        <li class=" col-sm">
            <div id="conteiner">

            </div>
        </li>
        <li class="col-sm">
            <div id="conteiner">

            </div>
        </li>
    </ul>
</div>


@section scripts{
    

}
