@{
    ViewBag.Title = "Login";
    Layout = null;

}

<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ponto B - Cartão Ponto</title>
    <link rel="icon" href="~/Content/img/LogoB.gif">

    <!-- Font Google Knewave CSS -->
    <link rel="stylesheet" href="~/Content/CSS/fontknewave.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/CSS/tooltipster.bundle.min.css" />

    <!--CSS Próprio -->
    <link rel="stylesheet" href="~/Content/CSS/login.css">



</head>

<body class="text-center Fundo">
    @using (Html.BeginForm("Autentica", "Login", FormMethod.Post, new { @id = "LoginAutenticacao", @name = "LoginAutenticacao", @class = "form-signin FundoLogin" }))
    {

        <img class="mb-4" src="~/Content/img/LogoB.gif" alt="" width="153" height="141">
        <h1 class="h3 mb-3 font-weight-normal texto">Identifique-se</h1>
        <label for="inputEmail" class="sr-only">Endereço de email</label>
        <input type="email" id="inputEmail" name="login" class="form-control" placeholder="Seu email" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" name="senha" class="form-control" placeholder="Senha" required>
        <label class="erro">@ViewBag.Erro</label>

        <button class="btn btn-lg btn-block botao_cor" type="submit">Login</button>
        <div class="checkbox mb-3">
            <label id="recuperarSenha" class="PonteiroClick texto">Recuperar Senha</label>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; Ponto B - 2019</p>

    }

    <!-- Modal Genérico Para Alert-->
    <div class="modal fade" id="ModalAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Recuperar Senha</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Você receberá um e-mail com o código de redefinição de senha</p>
                    <div id="conteudoModal">
                        <div id="ModalRecuperar">
                            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "formulario" }))
                            {
                                <span class="erro" id="MsgServidor"></span>
                                <div class="form-row pt-1">
                                    <div class="form-group col">
                                        <label for="inputPassword4">Email</label>
                                        <input type="email" class="form-control" id="email" placeholder="Senha Atual" name="email" value="">
                                        <span class="erro" id="Erro_Email"></span>

                                    </div>
                                </div>
                                <div class="g-recaptcha" data-sitekey="6Le_N7YUAAAAAMFcktP2CJEgYWcOAl3frwBXjYkp"></div>
                                <button class="btn botao_cor_verde btn-sm tooltip23" id="EnivarEmail" value="Salvar">Enviar</button>
                            }
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="~/Content/js/tooltipster.bundle.min.js"></script>


    <script>
        $("#EnivarEmail").click(function () {
            EnviarSolicitacao();

        });
        $("#recuperarSenha").click(function () {
            console.log("teste");
            $("#ModalAlert").modal();

        });


    </script>
    <script src="~/Content/js/RecuperarSenha.js"></script>
</body>
</html>