

<div id="ModalRecuperar">
    <span class="erro" id="MsgServidor"></span>
    <div class="form-row pt-4">
        <div class="form-group col">
            <label for="inputPassword4">Código Redefinição </label>
            <input type="text" class="form-control" id="Redefinicao" placeholder="" name="Redefinicao" value="">
            <span class="erro" id="Erro_Email"></span>

        </div>
        <div class="form-group col">
            <label for="inputPassword4">E-mail </label>
            <input type="email" class="form-control" id="Email" placeholder="" name="Email" value="">
            <span class="erro" id="Erro_Email"></span>

        </div>
        <div class="form-row pt-3">
            <div class="form-group col-md-6">
                <label for="inputPassword4">Nova Senha</label>
                <input type="password" class="form-control" id="NovaSenha" placeholder="Nova Senha" name="colaborador.Senha" value="">
                <span class="erro Erro_ConfirmaSenha" id=""></span>

            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Confirmação de Senha</label>
                <input type="password" class="form-control" id="ConfirmaSenha" placeholder="Confirmação de senha" value="">
                <span class="erro Erro_ConfirmaSenha" id=""></span>
            </div>
        </div>
    </div>


    <button class="btn botao_cor_verde btn-sm" id="EnivarAlteracao">Enviar</button>

    <script>



    </script>
</div>