.Fundo {
 background: url("../img/Fundo2.jpg") no-repeat center center fixed;
  height:100%;
  width:100%;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

html{
   
}

html, body {
  height: 100%;
    
}

.sucess {
    color: green;
}


body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.FundoLogin{
    /* Declaração para aparecer no Firefox */
    -moz-border-radius: 10px;
    /* Para exibir nos outros navegadores como Chrome, safari, opera*/
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    border-style: solid;
    border-color: #636363;
    color: white;
}
.botao_cor{
    background-color: #fd5759;
    color: white;
}
.texto{
    color: black;
}

.PonteiroClick {
    cursor: pointer;
}
.erro{
    color: red;
}

#ModalRecuperar{
    text-align:left;
}

.PonteiroClick {
    cursor: pointer;
}


.botao_cor_verde {
    background-color: green;
    color: white;
}


