h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: .67em;
   
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.modal-dialog {
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.PonteiroClick {
    cursor: pointer;
}
.tabela {
    text-align: center;
    margin: auto !important;
}

.Fonte-Knewave-Red{
    font-family: 'Knewave', cursive;
    color: red!important;
}
.Letra_Vermelha{
    color: red;
}

.botao_padrao {
    background-color: #fd5759;
    color: white;
}

.botao_cor {
    background-color: #fd5759;
    color: white;
}

.Fundo {
 background-color: #D9D9D9;  
}

.FundoSecao {
    /* Declaração para aparecer no Firefox */
    -moz-border-radius: 20px;
    /* Para exibir nos outros navegadores como Chrome, safari, opera*/
    -webkit-border-radius: 20px;
    border-radius: 15px;
    background-color: white;
    border-style: solid;
    border-color: #636363;
    border-width:1px;
    color: white;
    padding: 2%;
    width: 95%;
    color: black;
}

.centro {
    position: absolute;
    left: 2.5%;
    overflow: auto !important;
    
}


.lupa {
    left: 20%;
}

.botao_cor_verde {
    background-color: green;
    color: white;
}

.page-item.active .page-link {
    background-color: #fd5759;
    border-color: #fd5759;
}

.page-link:hover {
    color: #fd5759;
}

.page-link {
    color: #fd5759;
}

.user {
    color: white;
}
.erro{
    color:red;
}
