.Fonte-Knewave-Red{
    font-family: 'Knewave', cursive;
    color: red!important;
}
.Letra_Vermelha{
    color: red;
}

.botao_cor{
    background-color: #fd5759;
    color: white;
}

.Fundo {
 background-color: #D9D9D9;  
}






