
<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ponto B - Cartão Ponto</title>
    <link rel="icon" href="~/Content/img/LogoB.gif">


    <!-- Font Google Knewave CSS -->
    <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/CSS/tooltipster.bundle.min.css" />

    <!--CSS Próprio -->
    <link rel="stylesheet" href="~/Content/CSS/menuAdm.css">
    <link rel="stylesheet" href="~/Content/CSS/cadastroEmpresa.css">



</head>
<body class="Fundo">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand Fonte-Knewave-Red" href="#"> <img src="~/Content/img/LogoB.gif" width="30" height="29" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastro</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Ausências</a>
                        <a class="dropdown-item" href="#">Colaboradores</a>
                        <a class="dropdown-item" href="@Url.Action("Index", "Empresa")">Empresas</a>
                        <a class="dropdown-item" href="#">Escalas</a>
                    </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fechamento</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Calcular</a>
                        <a class="dropdown-item" href="#">Manutenção</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relatórios</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Item</a>
                        <a class="dropdown-item" href="#">Outro item</a>
                        <a class="dropdown-item" href="#">Algum outro item</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Configurações</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn p-1 mb-0 botao_cor" type="submit">Sair</button>
            </form>
        </div>
    </nav>
    <main>
        <div class="pt-5 form-signin">
            <div class="FundoSecao mt-3  centro">
                <!-- AQUI VAI O CONTEUDO DA PAGINA -->
                <!-------------Inicio---------------->


                @RenderBody()




                <!-- AQUI VAI O CONTEUDO DA PAGINA -->
                <!-------------FIM------------------->
            </div>
        </div>
    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/tooltipster.bundle.min.js"></script>
    <script src="~/Content/js/BuscarCep.js"></script>

    <script src="~/Content/js/jquery.mask.min.js"></script>
    <script src="~/Content/js/CadastroEmpresa.js"></script>
</body>
</html>
