@using PagedList.Mvc
@model PagedList.IPagedList<PontoB.Models.Colaborador>
@{
    ViewBag.Title = "Colaborador";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}


@section css{
    <link rel="stylesheet" href="~/Content/CSS/cadastroColaborador.css">
}

<h2>Index</h2>




@section scripts{

    <script src=""></script>

}

